<div id="form-background">
  <h2>"The only thing that hurts more than paying an income tax is not having to pay an income tax."<br/>
    <i>Thomas Dewar</i>
  </h2>
  <div id="form-container">
    <form>
      <div>
        <label>First Name:</label>
        <input type="text"/>
      </div>
      <div>
        <label>Last Name:</label>
        <input type="text"/>
      </div>
      <div>
        <label>E-Mail:</label>
        <input type="text"/>
      </div>
      <div>
        <label>Comments:</label>
        <input id="comment" type="text"/>
      </div>
      <div>
        <label></label>
        <input id="submit" type="submit"/>
      </div>
    </form>
  </div>
</div>
