<div class="container">
  <%= image_tag "taxbanner.png", id: "banner" %>
  <ul>
    <li class="title">Tee Tax Services</li>
    <li><a href="#payment">Make a Payment</a></li>
    <li class="dropdown">
      <a href="#" class="dropbtn">Contact</a>
      <div class="dropdown-content">
        <div href="#">Tee Nguyen</div>
        <div href="#">(408) 234-2342</div>
      </div>
    </li>
    <li class="dropdown">
      <div>
        <a href="#" class="dropbtn">Resources</a>
        <div class="dropdown-content">
          <a href="#">Financial Calculator</a>
          <a href="#">Record Retention Guide</a>
          <a href="#">IRS Publication</a>
          <a href="#">IRS Forms</a>
          <a href="#">Tax Appointment Checklist</a>
          <a href="#">Tax Rates</a>
          <a href="#">Tax Due Date</a>
          <a href="#">Tax Glossary</a>
          <a href="#">Tax Payer Rights</a>
          <a href="#">Subscribe to a Tax Calendar</a>
          <a href="#">IRS Witholding Calculator</a>
          <a href="#">Where's My Refund?</a>
        </div>
      </div>
    </li>
    <!-- <li><a href="#services">Services</a></li> -->
    <li><a href="#profile">Profile</a></li>
    <li><a href="#home">Home</a></li>
  </ul>
  <div id="form-background">
    <div id="form-container">
      <form>
        <label>First Name: </label><input type="text" />
        <label>Last Name: </label><input type="text" />
        <label>E-Mail: </label><input type="text" />
        <label>Comments: </label><input id="comment" type="text" />
        <label></label><input type="submit" />
      </form>
    </div>
  </div>
  <footer>
    <span class="copyright">Copyright © 2016</span>
  </footer>
</div>
